@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.main_header_wrapper {
  background: #fbf8f3;
}

header .logo {
  color: #3180f5;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header a {
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

header a:hover {
  text-decoration: underline;
}

header .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
  background: #1da1f2;
  border-radius: .25rem;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

header .signin:hover {
  text-decoration: none;
  background: #43b7ff;
}

@media screen and (max-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem;
    position: relative;
  }
  header .logo {
    color: #3180f5;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
  }
  header .hamburger {
    border: none;
    background: transparent;
    z-index: 99;
    position: fixed;
    right: 0;
    padding: 1.5rem;
  }
  header nav .nav-ul {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgba(251, 248, 243, 0.75);
    -webkit-backdrop-filter: blur(0.1rem);
            backdrop-filter: blur(0.1rem);
    list-style-type: none;
    display: none;
    z-index: 98;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    position: fixed;
    width: 13.5rem;
    height: 100vh;
    right: -999rem;
    top: 0;
    bottom: 0;
    -webkit-transition: right 2.5s ease;
    transition: right 2.5s ease;
  }
  header nav .nav-ul .signin {
    padding: .75rem;
  }
  header nav .nav-ul.show {
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 9rem;
  }
}

.main_illustration_wrapper {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.main_illustration_wrapper .tablet_hero {
  display: none;
}

.main_illustration_wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_illustration_wrapper main p {
  color: #737373;
}

.main_illustration_wrapper main span {
  color: #1f7898;
  font-weight: 700;
}

.main_illustration_wrapper main .links_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.main_illustration_wrapper main .links_container .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  background: #1da1f2;
  border-radius: .25rem;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.main_illustration_wrapper main .links_container .signin:hover {
  text-decoration: none;
  background: #43b7ff;
}

.main_illustration_wrapper main .links_container a {
  color: #1f7898;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main_illustration_wrapper {
    padding: 0 3rem 3rem 3rem;
  }
  .main_illustration_wrapper .desktop_mobile_hero {
    display: none;
  }
  .main_illustration_wrapper .tablet_hero {
    display: block;
  }
  .main_illustration_wrapper main {
    gap: 1.25rem;
  }
  .main_illustration_wrapper main h1 {
    font-size: 2.75rem;
  }
  .main_illustration_wrapper main p {
    font-size: 1.1rem;
  }
  .main_illustration_wrapper main .links_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    width: 100%;
  }
  .main_illustration_wrapper main .links_container .signin {
    width: 35%;
  }
  .main_illustration_wrapper main .numbers_text {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .main_illustration_wrapper {
    padding: 0 9rem 3rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_illustration_wrapper .desktop_mobile_hero {
    display: block;
    width: 50%;
  }
  .main_illustration_wrapper .tablet_hero {
    display: none;
  }
  .main_illustration_wrapper main h1 {
    font-size: 2.5rem;
  }
  .main_illustration_wrapper main p {
    font-size: 1rem;
  }
  .main_illustration_wrapper main .links_container .signin {
    width: 60%;
    font-size: .9rem;
  }
}

@media screen and (min-width: 1440px) {
  .main_illustration_wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_illustration_wrapper .desktop_mobile_hero {
    max-width: 32.5%;
  }
  .main_illustration_wrapper main {
    width: 50%;
  }
  .main_illustration_wrapper main h1 {
    font-size: 3rem;
  }
  .main_illustration_wrapper main p {
    font-size: 1.1rem;
  }
}

.features {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.features .subsections_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.features .subsections_container .subsection_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.features .subsections_container section {
  border: 1px solid #c4c4c4;
  border-radius: .25rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  height: 222px;
}

.features .subsections_container section .icon {
  font-size: 1.5rem;
}

.features .subsections_container section p {
  color: #737373;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 3rem;
    gap: 1.5rem;
  }
  .features h2 {
    font-size: 2.25rem;
  }
  .features .subsections_container {
    gap: 1.25rem;
  }
  .features .subsections_container .subsection_row {
    gap: 1.25rem;
  }
  .features .subsections_container section {
    height: 10rem;
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .features {
    padding: 5rem 9rem;
    gap: 2rem;
  }
  .features h2 {
    font-size: 2.5rem;
  }
  .features .subsections_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .features .subsections_container section {
    height: 12.5rem;
    gap: 1rem;
  }
}

.customers {
  background: #d7f5f5;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.customers .articles_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.customers .articles_wrapper article {
  background: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.customers .articles_wrapper article p {
  color: #737373;
}

.customers .articles_wrapper article .avatar_name_twittericon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customers .articles_wrapper article .avatar_name_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.customers .articles_wrapper article .avatar_name_container .name_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .2rem;
}

.customers .articles_wrapper article .avatar_name_container .name_tag p {
  font-weight: 700;
}

.customers .articles_wrapper article .avatar_name_container .name_tag small {
  color: #737373;
}

.customers .articles_wrapper article .likes_date_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers .articles_wrapper article .likes_date_container .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .customers {
    padding: 3rem;
  }
  .customers h2 {
    font-size: 2.25rem;
  }
  .customers .articles_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
  .customers .articles_wrapper article {
    min-width: 15rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (min-width: 1023px) {
  .customers {
    padding: 5rem 9rem;
    gap: 3rem;
  }
  .customers h2 {
    font-size: 2.5rem;
  }
  .customers .articles_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .customers .articles_wrapper article {
    min-width: 12.5rem;
    max-width: 25rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=style.css.map */