@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.main_header_wrapper {
  background: #fbf8f3;
}

header .logo {
  color: #3180f5;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header a {
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}
header a:hover {
  text-decoration: underline;
}
header .signin {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: #1da1f2;
  border-radius: 0.25rem;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
header .signin:hover {
  text-decoration: none;
  background: #43b7ff;
}

@media screen and (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
  }
  header .logo {
    color: #3180f5;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
  }
  header .hamburger {
    border: none;
    background: transparent;
    z-index: 99;
    position: fixed;
    right: 0;
    padding: 1.5rem;
  }
  header nav .nav-ul {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgba(251, 248, 243, 0.75);
    -webkit-backdrop-filter: blur(0.1rem);
            backdrop-filter: blur(0.1rem);
    list-style-type: none;
    display: none;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    width: 13.5rem;
    height: 100vh;
    right: -999rem;
    top: 0;
    bottom: 0;
    transition: right 2.5s ease;
  }
  header nav .nav-ul .signin {
    padding: 0.75rem;
  }
  header nav .nav-ul.show {
    right: 0;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 9rem;
  }
}
.main_illustration_wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main_illustration_wrapper .tablet_hero {
  display: none;
}
.main_illustration_wrapper .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.main_illustration_wrapper .main p {
  color: #545454;
}
.main_illustration_wrapper .main span {
  color: #1f7898;
  font-weight: 700;
}
.main_illustration_wrapper .main .links_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.main_illustration_wrapper .main .links_container .signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #1da1f2;
  border-radius: 0.25rem;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}
.main_illustration_wrapper .main .links_container .signin:hover {
  text-decoration: none;
  background: #43b7ff;
}
.main_illustration_wrapper .main .links_container a {
  color: #1f7898;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}
.main_illustration_wrapper .main .links_container a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main_illustration_wrapper {
    padding: 0 3rem 3rem 3rem;
  }
  .main_illustration_wrapper .desktop_mobile_hero {
    display: none;
  }
  .main_illustration_wrapper .tablet_hero {
    display: block;
  }
  .main_illustration_wrapper .main {
    gap: 1.25rem;
  }
  .main_illustration_wrapper .main h1 {
    font-size: 2.75rem;
  }
  .main_illustration_wrapper .main p {
    font-size: 1.1rem;
  }
  .main_illustration_wrapper .main .links_container {
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }
  .main_illustration_wrapper .main .links_container .signin {
    width: 35%;
  }
  .main_illustration_wrapper .main .numbers_text {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .main_illustration_wrapper {
    padding: 0 9rem 3rem 9rem;
    flex-direction: row-reverse;
    align-items: center;
  }
  .main_illustration_wrapper .desktop_mobile_hero {
    display: block;
    width: 50%;
  }
  .main_illustration_wrapper .tablet_hero {
    display: none;
  }
  .main_illustration_wrapper .main h1 {
    font-size: 2.5rem;
  }
  .main_illustration_wrapper .main p {
    font-size: 1rem;
  }
  .main_illustration_wrapper .main .links_container .signin {
    width: 60%;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1440px) {
  .main_illustration_wrapper {
    justify-content: space-between;
  }
  .main_illustration_wrapper .desktop_mobile_hero {
    max-width: 32.5%;
  }
  .main_illustration_wrapper .main {
    width: 50%;
  }
  .main_illustration_wrapper .main h1 {
    font-size: 3rem;
  }
  .main_illustration_wrapper .main p {
    font-size: 1.1rem;
  }
}
.features {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.features .subsections_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.features .subsections_container .subsection_row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.features .subsections_container section {
  border: 1px solid #c4c4c4;
  border-radius: 0.25rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  height: 222px;
}
.features .subsections_container section .icon {
  font-size: 1.5rem;
}
.features .subsections_container section p {
  color: #737373;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 3rem;
    gap: 1.5rem;
  }
  .features h2 {
    font-size: 2.25rem;
  }
  .features .subsections_container {
    gap: 1.25rem;
  }
  .features .subsections_container .subsection_row {
    gap: 1.25rem;
  }
  .features .subsections_container section {
    height: 10rem;
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .features {
    padding: 5rem 9rem;
    gap: 2rem;
  }
  .features h2 {
    font-size: 2.5rem;
  }
  .features .subsections_container {
    flex-direction: row;
    flex-grow: 1;
  }
  .features .subsections_container section {
    height: 12.5rem;
    gap: 1rem;
  }
}
.customers {
  background: #d7f5f5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.customers .articles_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.customers .articles_wrapper .invisibleonmobile {
  display: none;
}
.customers .articles_wrapper article {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.customers .articles_wrapper article p {
  color: #737373;
}
.customers .articles_wrapper article .avatar_name_twittericon_container {
  display: flex;
  justify-content: space-between;
}
.customers .articles_wrapper article .avatar_name_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.customers .articles_wrapper article .avatar_name_container .name_tag {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.customers .articles_wrapper article .avatar_name_container .name_tag p {
  font-weight: 700;
}
.customers .articles_wrapper article .avatar_name_container .name_tag small {
  color: #737373;
}
.customers .articles_wrapper article .likes_date_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers .articles_wrapper article .likes_date_container .likes {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media screen and (min-width: 768px) {
  .customers {
    padding: 3rem;
  }
  .customers h2 {
    font-size: 2.25rem;
  }
  .customers .articles_wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .customers .articles_wrapper .invisibleonmobile {
    display: flex;
    gap: 1rem;
  }
  .customers .articles_wrapper article {
    min-width: 15rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 1rem;
  }
}
@media screen and (min-width: 1023px) {
  .customers {
    padding: 5rem 9rem;
    gap: 3rem;
  }
  .customers h2 {
    font-size: 2.5rem;
  }
  .customers .articles_wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .customers .articles_wrapper article {
    min-width: 20rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.plan {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.plan .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.plan .text p {
  color: #545454;
}
.plan .plan_container {
  background: #fbf8f3;
  border: 1px solid #ffad23;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plan .plan_container .monthly_price_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.plan .plan_container .monthly_price_container p {
  color: #545454;
  font-weight: 500;
}
.plan .plan_container .monthly_price_container span {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
}
.plan .plan_container .checkmarks_text {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plan .plan_container .checkmarks_text .checkmark {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  color: #545454;
}
.plan .plan_container .signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #1da1f2;
  border-radius: 0.25rem;
  padding: 0.75rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  font-size: 0.9rem;
}
.plan .plan_container .signin:hover {
  text-decoration: none;
  background: #43b7ff;
}

@media screen and (min-width: 768px) {
  .plan {
    padding: 3rem 0;
    max-width: 25rem;
    margin: auto;
    gap: 3rem;
  }
  .plan h2 {
    font-size: 2.25rem;
  }
  .plan .plan_container {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .plan {
    padding: 5rem 0;
    max-width: 30rem;
    gap: 3rem;
  }
  .plan h2 {
    font-size: 2.5rem;
  }
}
footer {
  background: #d7f5f5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .logo {
  color: #3180f5;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
footer nav {
  display: flex;
  gap: 1rem;
}
footer nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
footer nav ul a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer nav ul a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 1.5rem 9rem;
  }
}/*# sourceMappingURL=style.css.map */