@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.main_header_wrapper {
  background: #fbf8f3;
}

header .logo {
  color: #3180f5;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header a {
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

header a:hover {
  text-decoration: underline;
}

header .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
  background: #1da1f2;
  border-radius: .25rem;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

header .signin:hover {
  text-decoration: none;
  background: #43b7ff;
}

@media screen and (max-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem;
    position: relative;
  }
  header .logo {
    color: #3180f5;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
  }
  header .hamburger {
    border: none;
    background: transparent;
    z-index: 99;
    position: fixed;
    right: 0;
    padding: 1.5rem;
  }
  header nav .nav-ul {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgba(251, 248, 243, 0.75);
    -webkit-backdrop-filter: blur(0.1rem);
            backdrop-filter: blur(0.1rem);
    list-style-type: none;
    display: none;
    z-index: 98;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    position: fixed;
    width: 13.5rem;
    height: 100vh;
    right: -999rem;
    top: 0;
    bottom: 0;
    -webkit-transition: right 2.5s ease;
    transition: right 2.5s ease;
  }
  header nav .nav-ul .signin {
    padding: .75rem;
  }
  header nav .nav-ul.show {
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 9rem;
  }
}
/*# sourceMappingURL=style.css.map */